<li>
<h4>
  <%= channel.title %>
</h4>

<p>
<%= channel.description %>
</p>
<div class="pull-right">
  <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_user_idea_channel_path(current_user,@idea,channel) %> |
  <%= link_to '<i class="icon-remove"></i>'.html_safe, user_idea_channel_path(current_user,@idea,channel),method: :delete,confirm:"are you sure?" %>
</div>
</li>
