<div class="fix-box">
  <%= link_to  [current_user,idea],title:"#{idea.title}" do %>
    <h4><%= idea.title %></h4>
    <p><%= idea.description %></p>
    <p><%= idea.customer_segments.count %> Customer Segments</p>
  <% end %>
</div>

