<li data-id=<%= advantage.id %>>
  <%= advantage.title %>
<div class="option pull-right"">
  <a href='#' rel='tooltip' title='Delete item' class='remove-item'><i class='icon-remove'></i></a>
</div>
</li>
