<li>
<h4>
  <%= problem.title %>
</h4>

<p>
  <%= problem.description %>
</p>


<%= link_to 'Edit', edit_user_idea_problem_path(current_user,@idea,problem) %> |
<%= link_to 'Destroy', user_idea_problem_path(current_user,@idea,problem),method: :delete,confirm:"are you sure?" %>
</li>

