<li data-id=<%= problem.id %>>
<%= problem.title %>

<div class="options pull-right">
  <a href='#' rel='tooltip' title='Delete item' class='remove-item'><i class='icon-remove'></i></a>
</div>
</li>

