<li data-id=<%= problem.id %>>
<%= problem.title %>

<div class="options pull-right">
  <%= link_to '<i class="icon-remove"></i>'.html_safe, user_idea_problem_path(current_user,@idea,problem),method: :delete,confirm:"are you sure?" %>
</div>
</li>

