<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @problem.title %>
</p>


<%= link_to 'Edit', edit_user_idea_problem_path(current_user,@idea,@problem) %> |
<%= link_to 'Back', user_idea_problems_path(current_user,@idea) %>
