<li>
<h4>
  <%= metric.title %>
</h4>

<p>
<%= metric.description %>
</p>

<div class="pull-right">
<%= link_to '<i class="icon-edit"></i>'.html_safe, edit_user_idea_metric_path(current_user,@idea,metric) %> |
<%= link_to '<i class="icon-remove"></i>'.html_safe, user_idea_metric_path(current_user,@idea,metric),method: :delete,confirm:"are you sure?" %>
</div>

</li>
