<li>
<h4>
  <%= uvp.title %>
</h4>

<p>
  <%= uvp.description %>
</p>

<%= link_to 'Edit', edit_user_idea_uvp_path(current_user,@idea,uvp) %> |
<%= link_to 'Destroy', user_idea_uvp_path(current_user,@idea,uvp),method: :delete,confirm:"are you sure?" %>
</li>

