<li class="clearfix">
<div class="">
<h4>
  <%= uvp.title %>
</h4>

<p>
<%= uvp.description %>
</p>
</div>

<div class="pull-right">
  <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_user_idea_uvp_path(current_user,@idea,uvp),title:"Edit" %> |
  <%= link_to '<i class="icon-remove"></i>'.html_safe, user_idea_uvp_path(current_user,@idea,uvp),title:"Destroy",method: :delete,confirm:"are you sure?" %>
</div>
</li>

