<div class="article">
<h1>Startup Toolkits</h1>

<h2>What</h2>

<p>Startup toolkits 是针对创业者或打算创业者提供创业帮助的网络工具。其中包括<strong> 创业自检画布 </strong> 。该工具的设计几乎完全参考 Lean Canvas的设计。并且建议各位创业者应该了解的敏捷创业相关的东西：
1、Steve Blank的《<a href="http://www.amazon.cn/gp/product/B008RFWEJA/ref=as_li_qf_sp_asin_tl?ie=UTF8&amp;camp=536&amp;creative=3200&amp;creativeASIN=B008RFWEJA&amp;linkCode=as2&amp;tag=smzgogogo-23" rel="nofollow" target="_blank">四步创业法</a>》英文版《<a href="http://www.amazon.cn/gp/product/0976470705/ref=as_li_tf_tl?ie=UTF8&amp;camp=536&amp;creative=3200&amp;creativeASIN=0976470705&amp;linkCode=as2&amp;tag=smzgogogo-23" rel="nofollow" target="_blank">The Four Steps to the Epiphany</a>》;
2、Eric Ries的《<a href="http://www.amazon.cn/gp/product/B008MIFWJG/ref=as_li_tf_tl?ie=UTF8&amp;camp=536&amp;creative=3200&amp;creativeASIN=B008MIFWJG&amp;linkCode=as2&amp;tag=smzgogogo-23" rel="nofollow" target="_blank">精益创业</a>》英文版《<a href="http://www.amazon.cn/gp/product/0307887898/ref=as_li_tf_tl?ie=UTF8&amp;camp=536&amp;creative=3200&amp;creativeASIN=0307887898&amp;linkCode=as2&amp;tag=smzgogogo-23" rel="nofollow" target="_blank">The Lean Startup</a>》;
3、Ash Maurya的《<a href="http://www.amazon.cn/gp/product/1449305172/ref=as_li_tf_tl?ie=UTF8&amp;camp=536&amp;creative=3200&amp;creativeASIN=1449305172&amp;linkCode=as2&amp;tag=smzgogogo-23" rel="nofollow" target="_blank">Runng Lean</a>》;
以上的三本书极力推荐。</p>

<h3>创业自检画布</h3>

<p>将一个创业想法到一个真正产品或服务所涉及到的关键环节都整合到了上面。更加有利于你对自己的想法进行检查、修正。这是Startup Toolkits中的一个小工具而已。其它工具我会陆续发布。</p>

<h2>Why</h2>

<p>其实每个人的各种想法是很多的。但是真正能够成为产品特别是成功产品的并不多。并且想法应会随着市场及客户的反映而做相应的调整。而这是就需要一个东西能够记录自己的想法，并很方便的改正，并且让自己很快能够进行修改，而不是一个长达40多页的PPT格式的<strong><em> 商业计划书 </em></strong>。</p>

<h2>How</h2>

<p>如果你有《Running Lean》这本书，你完全可以参考这本书来填写这个工具。如果没有，我这里就简单介绍一下。首先应该按照画布上的提示顺序进行填写，如果不确定的可以跳过，并且应该尽快能的精细。</p>

<h3>1、Customer Segments 客户细分</h3>

<p>列出你的追逐要的三个客户细分。不要想着任何人都是你的目标客户，没有一个产品可以做到那样。如果一个行业竞争很激烈，那么就创造一个新的细分市场，然后做到第一也是不错的成就。
并且在一开始就找到自己的早期用户群会让自己走更少的弯路。毕竟有些潜在客户并不适合早期引入。</p>

<h3>2、Problems 问题</h3>

<p>与客户细分一样，是以后所有模块的基础。找到自己客户细分的三个最主要的问题。只有抓住客户真正的痛点才有可能让客户原因使用你的产品，从而才愿意为你的产品或服务付费。</p>

<h3>3、Unique Value Proposition 独特的价值点</h3>

<p>可以选择你的理由是什么？你的产品能够提供给客户什么独特的价值？如果只是一个跟其它竞争对手相同的产品，很多用户是懒的来看一眼的。</p>

<h3>4、Solution 解决方案</h3>

<p>针对目标客户的问题的解决方案和产品是什么？</p>

<h3>5、Channels 渠道</h3>

<p>你可以通过什么样的渠道找到你的潜在客户？</p>

<h3>6、Revenue Streams 收入来源</h3>

<p>创业就是能够在自己的钱烧完以前赚到钱。那你的收入来源是哪里？</p>

<h3>7、Cost Structure 主要花费</h3>

<p>任何事情都是有成本的，实现你的解决方案需要那些花费？</p>

<h3>8、Key Metrics 关键指标</h3>

<p>如何衡量自己的产品是否步入正轨？</p>

<h3>9、Unfair Advantage 竞争优势</h3>

<p>别人不可以迅速复制、用钱买来的竞争优势是什么？</p>

  <div class="article-action">
  <h1>Startup Toolkits</h1>
      <p>
        让创业点子插上腾飞的翅膀!
      </p>
    <div class="">
      <%= link_to "Try it for FREE, Now",new_user_registration_path(:frm => "article"),class:"btn btn-danger btn-large" %>
    </div>
  </div>

</div>
