<div class="landing">
  <h1>Startup Toolkits</h1>
      <p>
        让创业点子插上腾飞的翅膀!
      </p>
    <div class="">
      <%= link_to "Try it for FREE",new_user_registration_path,class:"btn btn-danger btn-large" %> or 
      <a href="/about-startup-toolkits">Learn more about startup toolkits</a>
    </div>
    <div class="landing-img ">
      <%= image_tag "http://taolinggan-files.stor.sinaapp.com/original/3872bd2dae284860735f840a846128dc.png" %>
    </div>
  </div>
