<div class="jumbotron masthead">
    <div class="container">
      <h1>Startup Toolkits</h1>
      <p>
        让创业点子插上腾飞的翅膀!
      </p>
      <p>
        <%= link_to "Sign Up",new_user_registration_path,class:"btn btn-primary btn-large" %>
      </p>
    </div>
  </div>
