<li>
<h4>
  <%= solution.feature %>
</h4>

<p>
  <%= solution.description %>
</p>

<%= link_to 'Edit', edit_user_idea_solution_path(current_user,@idea,solution) %> | 
<%= link_to 'Destroy', user_idea_solution_path(current_user,@idea,solution),method: :delete,confirm:"are you sure?" %>

</li>
