<div class="container">
  <ul class="footer-links">
    <li><a href="http://www.simingzhi.com" target="_blank">博客</a></li>
    <li class="muted">·</li>
    <li><a href="https://github.com/AndySze/startupkits/issues?state=open" rel="nofollow" target="_blank">Issues</a></li>
    <li class="muted">·</li>
    <li><a href="https://github.com/AndySze/startupkits" rel="nofollow" target="_blank">Form me on Github</a></li>
  </ul>
</div>
